.navbar {
  height: 80px;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;

      .item {
        position: relative;

        .components {
          &:hover .components__list {
            display: block;
          }
        }

        .components__list {
          position: absolute;
          list-style: none;
          left: 0px;
          text-indent: 0;
          text-align: center;
          margin: 0;
          padding: 0px;
          width: 150px;
          display: none;
          border: 1px solid #777;
          // border-radius: 10px;

          a:last-of-type li {
            border-bottom: none;
          }

          li {
            line-height: 40px;
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid #777;
            overflow: hidden;
          }
        }
      }
    }
    .center {
      font-size: 30px;
      letter-spacing: 2px;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 25px;
        color: #777;
        align-items: center;
        cursor: pointer;

        .cartIcon {
          position: relative;
          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            background-color: #2879fe;
            border-radius: 50%;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
